@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Serif', serif;
    margin: 0;
}

.cajaaviso {
    display: flex;
    flex-flow: wrap;
    padding: 10px;
    height: 90px;
    box-sizing: border-box;
    background-color: #3c65b1f3;
}

.cajaaviso div {
    width: 40%;
    text-align: center;
}

.cajaaviso img {
    width: 140px;
    height: 75px;
}

.cajaaviso div p {
    font-size: 16px;
    font-weight: bold;
    color: whitesmoke;
    margin-left: 50px;
    margin-top: 10px;
}

.cajaaviso div a {
    display: inline-block;
    padding: 10px;
    border-radius: 5%;
    background-color: whitesmoke;
    color: #3C64B1;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 20px;
}

.cajaaviso div a:hover {
    border: 1px solid darkseagreen;
}

.anuncio {
    width: 728px;
    height: 90px;
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -364px;
}


/*------------------- Estilos para pasos 1-------------------*/

.pasos1 {
    width: 70%;
    margin: auto;
}

.pasos1 div {
    background-color: #3C64B1;
    color: white;
    margin: 20px 0;
    border-radius: 50px;
    position: relative;
}

.pasos1 div h1 {
    border-radius: 100px 0 100px 0;
    border: 1px solid #3C64B1;
    background-color: white;
    color: #3C64B1;
    position: absolute;
    left: -10px;
    top: -11px;
    padding: 10px 20px;
    font-size: 30px;
}

.pasos1 div p {
    float: right;
    padding: 20px;
    font-size: 20px;
    width: 70%;
    padding: 20px;
    box-sizing: border-box;
}

.pasos1 div img {
    border-radius: 50px 0 0 50px;
    float: left;
    width: 30%;
    object-fit: cover;
}

.pasos1 div::after {
    clear: both;
    display: block;
    content: '';
}

.pasos1 div:nth-child(even) h1 {
    border-radius: 100px 0 100px 0;
    left: inherit;
    right: -10px;
    top: -11px;
}

.pasos1 div:nth-child(even) p {
    float: left;
}

.pasos1 div:nth-child(even) img {
    border-radius: 0 50px 50px 0;
    float: right;
}


/*------------------- Estilos Novedades-------------------*/

.agendadia {
    display: flex;
    flex-flow: wrap;
}

.cajahora {
    width: 20%;
    text-align: right;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 11px;
}

.cajamedio i {
    color: #3C64B1;
    font-size: 30px;
}

.cajacomision {
    border-left: 4px solid #3C64B1;
    margin-left: -18px;
    margin-top: 20px;
    padding: 0 10px 30px 30px;
}

.cajacomision a {
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    color: #3C64B1;
    background-color: whitesmoke;
    border: 1px solid #3C64B1;
}

.cajacomision a:hover {
    color: white;
    background-color: #3C64B1;
}

@media (max-width: 480px) {
    .anuncio {
        width: 300px;
        height: 250px;
        margin-left: -150px;
    }
    .cajaaviso {
        height: 250px;
    }
    .cajaaviso div {
        width: 100%;
    }
    .cajaaviso div p {
        margin: 0;
        margin-top: 15px;
    }
    .cajaaviso img {
        margin-left: 65px;
    }
    .cajaaviso div a {
        margin: 0;
        margin-top: 10px;
    }
    .pasos1 div {
        margin: 60px 0;
    }
    .pasos1 div h1 {
        top: -41px;
    }
    .pasos1 div:nth-child(even) h1 {
        top: -41px;
    }
    .pasos1 div p {
        float: none;
        width: 98%;
        margin: auto;
        padding: 20px;
        box-sizing: border-box;
    }
    .pasos1 div img,
    .pasos1 div:nth-child(even) img {
        border-radius: 0 0 50px 50px;
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }
    .cajahora h3 {
        font-size: 12px;
    }
    .cajahora p {
        font-size: 10px;
    }
    .cajamedio i {
        font-size: 20px;
    }
    .cajacomision {
        border-left: 2px solid #3C64B1;
        margin-left: -10px;
        margin-top: 18px;
    }
    .cajacomision h3 {
        font-size: 10px;
    }
    .cajacomision p {
        font-size: 10px;
    }
    .cajacomision a {
        font-size: 12px;
        padding: 5px;
    }
}